<a href="<%=projectOwnerCallbackUrl%>">Authenticate as a Project Owner</a> <br/>
<a href="<%=projectContributorCallbackUrl%>">Authenticate as a Project Contributor</a> <br/>
<a href="<%=syndicateManagerCallbackUrl%>">Authenticate as a Syndicate Manager</a> <br/>
<a href="<%=JessieOwnerCallbackUrl%>">Authenticate as Jessie</a> <br/>
<a href="<%=CourtneyOwnerCallbackUrl%>">Authenticate as Courtney</a> <br/>
<a href="<%=RobOwnerCallbackUrl%>">Authenticate as Rob</a> <br/>
<a href="<%=failureUrl%>">Refuse Authentication</a>
