<a href="<%=projectOwnerCallbackUrl%>">Authorise Hylo to connect to your hitfin account. (Project Owner)</a> <br/>
<a href="<%=projectContributorCallbackUrl%>">Authorise Hylo to connect to your hitfin account. (Project Contributor)</a> <br/>
<a href="<%=syndicateManagerCallbackUrl%>">Authorise Hylo to connect to your hitfin account. (Syndicate Manager)</a> <br/>
<a href="<%=JessieOwnerCallbackUrl%>">Authorise Hylo to connect to your hitfin account. (Jessie)</a> <br/>
<a href="<%=CourtneyOwnerCallbackUrl%>">Authorise Hylo to connect to your hitfin account. (Courtney)</a> <br/>
<a href="<%=RobOwnerCallbackUrl%>">Authorise Hylo to connect to your hitfin account. (Rob)</a> <br/>
<a href="<%=failureUrl%>">Refuse Authentication</a>
